#app
  width 700px
  margin 0 auto

header
  color blue
  background red

.table
  margin 0 auto
  .table-header
    background blue
    .table-cell-text
      color green
  .table-cell
    background gray
    .table-cell-text
      color #00D8FF

